.header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--darck-green);
    padding: 0 2%;
}
.headerLink {
    font-size: 25px;
    color: white;
    text-decoration: none;
}
.middleSide h2 {
    font-size: 30px;
    color: white;
}
.productsContent {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    padding: 30px 2%;
}
.btn {
    width: 80%;
    border: none;
    font-size: 25px;
    color: white;
    background-color: red;
    border-radius: 8px;
    cursor: pointer;
}
.addBtn {
    text-decoration: none;
    position: fixed;
    bottom: 50px;
    right: 30px;
    background-color: var(--darck-green);
    color: white;
    font-size: 25px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 8px;
}

@media(max-width: 767px) {
    .addBtn {
        font-size: 15px;
    }
}