.btn {
    width: 100%;
    border: none;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    background-color: var(--darck-green);
    color: white;
    cursor: pointer;
}